@{
    ViewData["Title"] = "Home Page - Classifieds Web";
}

<div class="text-center">
    <h1 class="display-4">ASP.NET Core - Authentication and Authorization Essentials</h1>
    <h3 class="display-4">Classifieds App</h3>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<br/>
<p>In this course you will learn the basics of modern authentication using the ASP.NET Core Identity Library and learn to extend the functionality relative to our specific business needs. While perfect security is arguably impossible to achieve, we will explore a variety of techniques that go a far way in ensuring security and relative ease of use simultaneously. We will look at implementing security in a practical ASP.NET Core application and how we can implement role, claim and custom plicy based authorization.</p>
<p>Even though the fundamentals of the security principles will be demonstrated with a Razor Pages application, all of the techniques and considerations can be taken in any ASP.NET Core application type, including MVC and Blazor. It has content for developers at all levels as it is never to late/early to start thinking about the best security practices for you web application.</p>